<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    label{
        font-size: 1.3em;
    }
    p{
        font-size: 1.3em;
    }
    </style>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Update Cheap Shop Information</h1>
    </div>
    <form action="/update" method="POST">

    <label for="shopID" value="item.shopID"><b>Shop ID*: <%= item.shopID %></b></label><br><br>
    
    <input type="hidden" id="postId" name="postId" value="<%= item.shopID %>" />
     
    <label for="name"><b>Shop Name*:</b></label>
    <input type="text" id="name" name="name" class="form-control" placeholder="" value= "<% if (item.name) { %><%= item.name %><% } %>" /><br><br>
                
    <label for="subdistrict"><b>Sub District:</b></label>
    <input type="text" id="subdistrict" name="subdistrict" class="form-control" placeholder="e.g. Causeway Bay" value ="<% if (item.address.subdistrict) { %><%= item.address.subdistrict %><% } %>" /><br><br>

    <label for="building"><b>Building:</b></label>
    <input type="text" id="building" name="building" class="form-control" placeholder="e.g. Happy Mansion" value ="<% if (item.address.building) { %><%= item.address.building %><% } %>" /><br><br>
                
    <label for="Shop Contact No."><b>Shop Contact No.:</b></label>
    <input type="text" id="number" name="number" class="form-control" placeholder="e.g. 55554455" value ="<% if (item.phone) { %><%= item.phone %><% } %>"/> <br><br>
                
    <label for="cheapitemscategory"><b>Cheap Items Category:</b></label>
    <input type="text" id="cheapitemscategory" name="cheapitemscategory" class="form-control" placeholder="e.g. Clothings" value = "<% if (item.cheapitemscategory) { %><%= item.cheapitemscategory %><% } %>" /><br><br>
                
    <label for="description"><b>Description:</b></label><br>
    <textarea name="description" cols="50" rows="10" placeholder="Add more details..." value = "<% if (item.description) { %><%= item.description %><% } %>" /></textarea><br>

    <input type="submit" value="update">
</html>
